@charset "utf-8";
header {
  background: url(../img/contact.png) 50% no-repeat;
  height: 179px;
}
header .wrapper {
  width: 980px;
  margin: auto;
  padding: 10px 0 0;
}
header .wrapper .log-box {
  float: left;
  overflow: hidden;
  background: url(../img/contact-2.png) no-repeat;
  width: 258px;
  height: 33px;
}
header .wrapper .log-box a {
  padding: 0 9px 0 0;
  width: 138px;
  height: 33px;
  float: left;
}
#content {
  position: relative;
  width: 980px;
  margin: -60px auto 0;
  background: #fff;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 10px;
}
#content .iconfont {
  margin: 0 6px 0 0;
  height: 26px;
  color: #fff;
  line-height: 27px;
  font-size: 16px;
  width: 26px;
  border-radius: 13px;
  display: inline-block;
  font-family: iconfont-scb;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  background: #ec6c00;
}
#content thead th {
  font-size: 16px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  color: #666;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 200;
}
#content thead .ddleft {
  padding: 0 0 0 15px;
  width: 380px;
  text-align: left;
}
#content thead .ddmid {
  width: 180px;
  text-align: left;
}
#content thead .ddmid i {
  font-size: 12px;
  text-decoration: none;
  font-style: normal;
  color: #999;
}
#content thead .ddtel {
  width: 350px;
  text-align: center;
}
#content tbody td {
  border-bottom: 1px solid #f5f5f5;
  text-align: left;
}
#content tbody .ddleft {
  padding: 0 0 0 50px;
  width: 380px;
}
#content tbody .ddleft .tit {
  font-size: 18px;
  color: #333;
  padding: 20px 0 0;
  height: 20px;
  line-height: 20px;
}
#content tbody .ddleft .text {
  font-size: 12px;
  color: #999;
  width: 240px;
  padding: 0 0 20px;
  line-height: 20px;
  margin: 3px 0 0;
}
#content tbody .ddmid {
  padding: 0 0 0 20px;
  width: 180px;
}
#content tbody .ddmid span a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  border-radius: 15px 15px 15px 0;
  color: #333;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  font-size: 14px;
}
#content tbody .ddmid span a:hover {
  background-color: #ec6c00;
  color: #fff;
  cursor: pointer;
}
#content tbody .alignLeft {
  width: 100px !important;
  padding-left: 130px !important;
  text-align: left !important;
}
#content tbody .ddtel {
  width: 350px;
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
#content tbody .ddtel span {
  font-size: 12px;
  color: #999;
}
footer {
  position: relative;
  width: 980px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px 10px 10px 0;
  margin-bottom: 10px;
}
footer .foot-tit {
  padding: 0 0 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
}
footer .foot-tit .iconfont {
  font-size: 20px;
  font-weight: 700;
  margin: 0 6px 0 0;
  height: 26px;
  color: #fff;
  line-height: 27px;
  width: 26px;
  border-radius: 13px;
  display: inline-block;
  font-family: iconfont-scb;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  background: #ec6c00;
}
footer .foot-info .info {
  padding: 15px 0;
  margin: 0 0 0 50px;
  font-size: 14px;
  line-height: 20px;
}
footer .foot-info .info div {
  margin: 6px 0 0;
}
footer .foot-info .info span {
  font-size: 12px;
  color: #999;
}
footer .foot-info .map {
  padding: 8px 10px;
}
