@charset "utf-8";
html {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #fff;
  overflow-x: hidden;
  width: 100%;
}
/* site-nav  */
#site-nav {
  height: 32px;
  line-height: 32px;
  font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  background: #f2f2f2;
  min-width: 990px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 500;
}
#site-nav .sn-wrapper {
  color: #999;
  width: 1230px;
  position: relative;
  left: -15px;
  margin: 0 auto;
}
#site-nav .sn-wrapper .sn-login {
  padding-left: 20px;
}
#site-nav .sn-quick-menu {
  position: absolute;
  top: 0;
  right: 0;
}
#site-nav .sn-quick-menu > li {
  float: left;
  position: relative;
  z-index: 500;
}
#site-nav .sn-quick-menu > li:hover a:hover {
  color: #ff0036;
  text-decoration: underline;
}
#site-nav .sn-quick-menu > li:hover b {
  transform: rotate(180deg);
  transform-origin: 50% 30%;
  transition: transform 0.2s ease-in;
}
#site-nav .sn-quick-menu > li:hover .site-secnav {
  display: block;
}
#site-nav .sn-quick-menu > li:nth-child(8):hover > a {
  color: #999;
}
#site-nav .sn-quick-menu > li b {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #bbb;
  top: 15px;
  right: 6px;
}
#site-nav .sn-quick-menu > li:nth-child(2) i {
  position: relative;
  top: -1px;
}
#site-nav .sn-quick-menu > li:nth-child(2) a span {
  color: #666;
  padding: 0 2px;
  font-weight: 700;
  font-family: Arial;
}
#site-nav .sn-quick-menu > li:nth-child(2):hover a span {
  color: #ff0036;
}
#site-nav .sn-quick-menu > li:nth-child(4) {
  display: inline-block;
  width: 0;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  top: 6px;
  left: 0;
  font-size: 0;
  border-left: 1px solid #ccc;
  margin: 0 2px 0 5px;
  top: 9px;
}
#site-nav .sn-quick-menu .site-secnav a {
  line-height: 20px;
  display: inline-block;
  color: #666;
  padding: 0 !important;
}
#site-nav .sn-quick-menu .top-nav .site-cont a {
  line-height: 1.4;
  position: relative;
}
#site-nav .top-nav {
  width: 1198px;
  right: 0;
  top: 33px;
  padding: 25px 0;
  line-height: 1.4;
}
.sn-wrapper a {
  color: #999;
}
/* li以及a和三角形b的样式集合 */
#site-nav .sn-quick-menu > li:nth-child(2) > a:hover,
#site-nav .sn-quick-menu > li:nth-child(4):hover > a,
#site-nav .sn-quick-menu > li:nth-child(5):hover > a,
#site-nav .sn-quick-menu > li:nth-child(6):hover > a,
#site-nav .sn-quick-menu > li:nth-child(8):hover > a {
  text-decoration: none;
}
#site-nav .sn-quick-menu > li:nth-child(2),
#site-nav .sn-quick-menu > li:nth-child(5),
#site-nav .sn-quick-menu > li:nth-child(6) {
  padding: 0 10px;
}
#site-nav .sn-quick-menu > li:nth-child(1) > a,
#site-nav .sn-quick-menu > li:nth-child(3) > a,
#site-nav .sn-quick-menu > li:nth-child(7) > a,
#site-nav .sn-quick-menu > li:nth-child(8) > a {
  padding: 0 10px;
  display: block;
  padding-right: 14px;
  border: solid #f2f2f2;
  border-width: 0 1px;
  position: relative;
}
/* 二级导航的相同部分 */
.site-secnav {
  line-height: 1.4;
  padding: 8px 10px;
  position: absolute;
  border: solid #eee;
  border-width: 0 1px 1px;
  background: #fff;
  display: none;
}
#site-nav .sn-quick-menu > li:nth-child(1):hover > a,
#site-nav .sn-quick-menu > li:nth-child(3):hover > a,
#site-nav .sn-quick-menu > li:nth-child(7):hover > a,
#site-nav .sn-quick-menu > li:nth-child(8):hover > a {
  background-color: #fff;
  border-color: #eee;
  padding-bottom: 1px;
  color: #ff0036;
}
/* 第一个li 我的淘宝 */
/* 二级导航部分 */
.mytaobao {
  width: 74px;
  left: 0;
  top: 33px;
}
/* 第二个li 购物车 */
/* 第三个li 收藏夹 */
/* 二级导航部分 */
.favorite {
  width: 62px;
  left: 0;
  top: 33px;
}
/* 第四个li 竖线 */
/* 第五个li 手机版 */
/* 第六个li 淘宝网 */
/* 第七个li 商家支持 */
/* 二级导航部分 */
.seller-support {
  width: 122px;
  right: 0;
  top: 33px;
}
.seller-support ul {
  margin-top: -5px;
  overflow: hidden;
}
.seller-support li {
  padding: 5px 0;
  height: auto;
  line-height: 1.4;
  border-bottom: 1px dotted #827777;
  margin-right: -20px;
}
.seller-support h3 {
  font-weight: 700;
  color: #666;
}
.seller-support a {
  display: inline-block !important;
  width: 48px;
  margin-right: 20px;
  line-height: 22px !important;
}
/* 第八个li 网站导航 */
/* 二级导航 */
.top-nav .site-cont {
  padding-left: 30px;
  overflow: hidden;
  height: 110px;
}
.top-nav .site-cont ul {
  margin-right: -20px;
  overflow: hidden;
}
.top-nav .site-cont ul > li {
  width: 95px;
  float: left;
  padding: 6px 0;
  overflow: hidden;
}
.top-nav h2 {
  font-size: 16px;
  padding-bottom: 8px;
  font-family: '\5FAE\8F6F\96C5\9ED1', arial, "\5b8b\4f53";
  line-height: 1.4;
}
.top-nav h2 span {
  padding-left: 6px;
}
/* 图标 */
.sn-sitemap-icon {
  background: url(../img/jinglingtu1.png) 0 0 no-repeat;
  position: absolute;
  width: 9px;
  height: 11px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  top: -7px;
  right: -9px;
  z-index: 200;
}
.sn-sitemap-icon-hot {
  background-position: -37px 0;
}
.sn-sitemap-icon-new {
  background-position: -37px -11px;
}
/* 热点推荐 */
.site-hot {
  width: 455px;
  float: left;
}
.site-hot h2 {
  color: #f56a00;
}
.site-hot a:hover {
  color: #f56a00 !important;
}
/* 行业市场 */
.site-market {
  width: 455px;
  float: left;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}
.site-market h2 {
  color: #2263d4;
}
.site-market a:hover {
  color: #2263d4 !important;
}
/* 服务指南 */
.site-help h2 {
  color: #666;
}
.site-help a:hover {
  color: #666 !important;
}
header {
  min-width: 990px;
  background: #fff;
  height: 122px;
  border-bottom: 2px solid #999;
}
header .header-wrapper {
  width: 1190px !important;
  margin: 0 auto;
}
header .header-wrapper .headerCon {
  width: 1190px;
}
header .header-wrapper .headerCon .mallLogo {
  width: 240px;
  height: auto;
  padding-top: 16px;
  float: left;
  z-index: 9;
  line-height: 64px;
  position: relative;
}
header .header-wrapper .headerCon .mallLogo .mlogo {
  float: left;
  margin-right: 10px;
  padding: 0;
}
header .header-wrapper .headerCon .mallLogo .mlogo a {
  width: 190px;
  height: auto !important;
  overflow: inherit !important;
  font-size: 0 !important;
  padding: 0 0 0 40px;
  margin-top: 10px;
  display: block;
  position: relative;
}
header .header-wrapper .headerCon .mallLogo .mlogo a em {
  position: absolute;
  display: block;
  top: 0;
  cursor: pointer;
  background: url(../img/tianmaochaoshi.png) no-repeat;
  width: 130px;
  height: 48px;
  background-size: 100% 100%;
}
header .header-wrapper .headerCon .header-extra .header-banner {
  padding-left: 15px !important;
  padding-top: 25px !important;
  width: 242px !important;
  height: auto !important;
  float: right;
  padding: 10px 0 0 100px;
}
header .header-wrapper .headerCon .header-extra .header-banner .market-feature {
  text-align: left;
  margin-right: 5px;
  width: 300px;
}
header .header-wrapper .headerCon .header-extra .header-banner .market-feature li {
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
}
header .header-wrapper .headerCon .header-extra .header-banner .market-feature li a {
  color: #666;
  font-weight: bolder;
}
header .header-wrapper .headerCon .header-extra .header-banner .market-feature li a em {
  font-weight: 400;
  text-align: right;
  margin-top: 20px;
  font-size: 16px;
  color: #df2d44;
  text-decoration: none;
}
header .header-wrapper .headerCon .header-extra .AreaSelector {
  float: left;
  position: relative;
  top: 25px;
  z-index: 11;
  background-color: #fff;
  margin-top: 36px;
  max-width: 464px;
  border-radius: 0 3px 3px 3px;
}
header .header-wrapper .headerCon .header-extra .AreaSelector h3 {
  position: relative;
  color: #e22a40;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  line-height: 1.5;
  margin-top: -36px;
  border-radius: 3px;
}
header .header-wrapper .headerCon .header-extra .AreaSelector h3 i {
  font-weight: 400;
  margin: 2px;
}
header .header-wrapper .headerCon .header-extra .mallSearch {
  width: 540px !important;
  float: right;
  padding-top: 25px;
  overflow: hidden;
}
header .header-wrapper .headerCon .header-extra .mallSearch form {
  border: solid #FF0036;
  border-width: 3px 0 3px 3px;
  position: relative;
}
header .header-wrapper .headerCon .header-extra .mallSearch form .input-wrapper {
  height: 30px;
}
header .header-wrapper .headerCon .header-extra .mallSearch form .input-wrapper #search {
  height: 30px;
  width: 439px;
  font-size: 14px;
  line-height: 30px;
  box-sizing: border-box;
  background: 0 0;
  padding: 5px 3px 5px 5px;
  border: none;
  outline: none;
}
header .header-wrapper .headerCon .header-extra .mallSearch form .input-wrapper #search::-webkit-input-placeholder {
  color: #666666;
}
header .header-wrapper .headerCon .header-extra .mallSearch form .input-wrapper #search:focus {
  color: #000;
}
header .header-wrapper .headerCon .header-extra .mallSearch form .input-wrapper #search:focus::-webkit-input-placeholder {
  color: #cccccc;
}
header .header-wrapper .headerCon .header-extra .mallSearch form button {
  width: 90px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #fff;
  background-color: #FF0036;
  font-family: '\5FAE\8F6F\96C5\9ED1', arial, "\5b8b\4f53";
  border: none;
}
#content {
  width: 100%;
  background-color: #fff;
}
#content .detail {
  width: 1190px !important;
  margin: 20px auto;
}
#content .detail .DetailMeta {
  width: 990px;
  position: relative;
  z-index: 100;
  min-height: 600px;
}
#content .detail .DetailMeta .tb-property {
  float: left;
  width: 100%;
}
#content .detail .DetailMeta .tb-property .tb-wrap {
  margin: 0 0 0 460px;
  color: #666;
  padding: 0 0 10px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-detail-hd {
  padding: 20px 10px 12px;
  color: #000;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-detail-hd h1 {
  padding-bottom: 0.2em;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-detail-hd .newp {
  font-size: 14px;
  color: #FF0036;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel {
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  position: relative;
  left: 0;
  z-index: 10;
  font: 12px/1.5 "Microsoft Yahei", tahoma, arial;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 20px;
  background-image: url(../img/detail-3.png);
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel dl {
  position: static;
  color: #333;
  padding-left: 0;
  line-height: 30px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel dl dt {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel dl dd {
  color: #333;
  margin-left: 70px;
  font-family: Arial;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel dl dd em {
  color: #FF0036;
  font-size: 18px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-fcs-panel dl dd span {
  color: #FF0036;
  font-size: 24px;
  font-weight: bolder;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta {
  margin: 5px 20px 5px 0;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl {
  line-height: 24px;
  color: #333;
  position: relative;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl dt {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 50px;
  margin: 0 10px;
  line-height: 36px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl dd {
  margin-left: 70px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl dd .tb-postAge {
  line-height: 18px;
  padding: 9px 0;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl dd .tb-postAge .mui_addr_tri .mui_addr_tri_1 {
  color: #333;
  margin-right: -12px;
  padding-right: 12px;
  cursor: pointer;
  background: 0 0;
  border: none;
  position: relative;
  z-index: 2;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-meta dl dd .tb-postAge .mui_addr_tri .mui_addr_tri_1 i {
  color: #333;
  font-family: tm-detail-font;
  font-style: normal;
  position: relative;
  z-index: 1;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ind-panel {
  border: 1px dotted #c9c9c9;
  border-width: 1px 0;
  margin: -1px 20px 0 0;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  clear: both;
  display: flex;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ind-panel li {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
  left: -1px;
  border-left: 1px solid #e5dfda;
  flex: 1;
  line-height: 16px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ind-panel li div .tm-label {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #999;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ind-panel li div .tm-count {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #FF0036;
  font-weight: 700;
  margin-left: 3px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ind-panel .tm-ind-emPointCount .tm-count {
  color: #280;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin {
  padding: 10px 0;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku {
  padding: 5px 0 12px;
  position: relative;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop {
  padding-bottom: 6px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop dt {
  text-align: left;
  float: left;
  width: 66px;
  color: #838383;
  margin-top: 8px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop dd {
  width: 420px;
  float: left;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop dd ul li {
  line-height: 28px;
  float: left;
  position: relative;
  margin: 0 4px 4px 0;
  vertical-align: middle;
  padding: 1px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop dd ul li a {
  float: left;
  white-space: nowrap;
  min-width: 10px;
  text-align: center;
  border: 1px solid #b8b7bd;
  color: #000;
  text-decoration: none;
  border: 2px solid #FF0036;
  margin: -1px;
  padding: 0 9px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-prop dd ul li i {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  text-indent: -99em;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/detail-5.png);
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tm-img-prop a {
  width: 38px !important;
  height: 38px;
  padding: 0 !important;
  line-height: 38px;
  outline: 0;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dt {
  text-align: left;
  float: left;
  width: 66px;
  color: #838383;
  margin-top: 8px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd {
  height: 35px;
  line-height: 31px;
  color: #878787;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd input {
  vertical-align: middle;
  padding: 3px 2px 0 3px;
  line-height: 26px;
  font-size: 12px;
  margin: 0;
  height: 26px;
  border: 1px solid #a7a6ac;
  width: 36px;
  background-position: -406px -41px;
  color: #666;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd .mui-amount-btn {
  display: inline-block;
  vertical-align: middle;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd .mui-amount-btn span {
  width: 16px;
  height: 12px;
  overflow: hidden;
  border: 1px solid #a7a6ab;
  display: block;
  font-family: tm-detail-font !important;
  line-height: 12px;
  font-size: 16px;
  cursor: pointer;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd .mui-amount-btn .mui-amount-increase {
  margin-bottom: 3px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-amount dd .mui-amount-unit {
  vertical-align: middle;
  margin-left: 5px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action {
  clear: both;
  padding: 10px 0 0 66px;
  margin: 10px 0 0;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action .tb-btn-sku {
  margin-right: 10px;
  float: left;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action .tb-btn-sku a {
  margin-right: 0;
  float: left;
  overflow: hidden;
  position: relative;
  width: 178px;
  background-color: #ffeded;
  border: 1px solid #FF0036;
  color: #FF0036;
  font-family: 'Microsoft Yahei';
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action .tb-btn-basket {
  margin-right: 1px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action .tb-btn-basket a {
  background-color: #ff0036;
  border: 1px solid #ff0036;
  color: #fff;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tb-key .tb-skin .tb-sku .tb-action .tb-btn-basket a i {
  color: #fff;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser {
  margin: 0 20px;
  padding-bottom: 20px;
  position: relative;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser dl {
  margin-right: 67px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser dl dt {
  text-align: left;
  float: left;
  width: 66px;
  color: #999;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser dl dd {
  margin-left: 66px;
  width: auto;
  float: none;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser dl dd li {
  display: inline-block;
  white-space: nowrap;
  padding-right: 20px;
  padding-bottom: 5px;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser dl dd li a {
  display: inline-block;
  padding: 0 2px 0 0;
  margin: 0 10px 0 0;
  color: #666;
  white-space: nowrap;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser .tm-pay-box {
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser .tm-pay-box .tm-pay {
  width: 67px;
  overflow: visible;
  z-index: 3;
}
#content .detail .DetailMeta .tb-property .tb-wrap .tm-ser .tm-pay-box .tm-pay .pay-toggler {
  width: 12px;
  height: 12px;
  cursor: pointer;
  display: inline-block;
}
#content .detail .DetailMeta .tb-gallery {
  margin-left: -100%;
  float: left;
  width: 460px;
  position: relative;
}
#content .detail .DetailMeta .tb-gallery .tb-booth {
  position: relative;
  display: table;
  table-layout: fixed;
  z-index: 1;
  width: 420px;
  height: 420px;
  margin: 20px auto 0;
}
#content .detail .DetailMeta .tb-gallery .tb-booth .zoomIcon {
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  width: 30px;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  opacity: 0.6;
  color: #333;
  font-size: 18px;
  right: 0;
  bottom: 0;
}
#content .detail .DetailMeta .tb-gallery .tb-booth .ks-imagezoom-wrap {
  margin: -1px 0 0 -1px;
}
#content .detail .DetailMeta .tb-gallery .tb-booth .ks-imagezoom-wrap img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp {
  position: relative;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp .tb-thumb-content ul {
  text-align: center;
  margin-left: -16px;
  white-space: nowrap;
  position: relative;
  transition: left 0.2s cubic-bezier(0, 0, 0.25, 1);
  font-size: 0;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp .tb-thumb-content ul li {
  display: inline-block;
  margin: 0 0 0 16px;
  padding-top: 22px;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp .tb-thumb-content ul li a {
  float: left;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp .tb-thumb-content ul li a img {
  position: relative;
  max-width: 60px;
  max-height: 60px;
}
#content .detail .DetailMeta .tb-gallery .tb-thumb-warp .tb-thumb-content ul .tb-selected a {
  border: 2px solid #000;
  width: 56px;
  height: 56px;
}
#content .detail .DetailMeta .tb-gallery .tm-action {
  padding: 38px 40px 25px;
  color: #999;
}
#content .detail .DetailMeta .tb-gallery .tm-action a {
  color: #999;
}
#content .detail .DetailMeta .tb-gallery .tm-action .J_EditItem {
  float: right;
  width: 24px;
}
#content .detail .DetailMeta .tb-gallery .tm-action a {
  text-decoration: none;
  float: left;
  width: 70px;
}
#content .detail .DetailMeta .tb-gallery .tm-action a i {
  margin-right: 4px;
  color: #baaa99;
}
#content .detail .DetailMeta .tb-gallery .tm-action a:nth-of-type(1) {
  margin-right: 2em;
}
#content .info {
  width: 1190px !important;
  margin: 0 auto;
}
/* 放大镜 */
.fdjBox {
  margin-top: 10px;
}
#magnifier {
  position: relative;
  display: inline-block;
  width: 450px;
  vertical-align: top;
}
.small-box {
  position: relative;
  width: 450px;
  height: 450px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.small-box img {
  display: block;
  width: 450px;
  height: 450px;
}
.small-box .hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  background: #0099ff;
  opacity: 0.5;
  cursor: move;
}
.thumbnail-box {
  position: relative;
  width: 100%;
}
.thumbnail-box .btn {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 32px;
  margin-top: -16px;
}
.thumbnail-box .btn-prev {
  left: 0;
  background: url("../img/_jtjlt.png") no-repeat 0 -54px;
}
.thumbnail-box .btn-prev:hover {
  background: url("../img/btn-prev.png") no-repeat;
}
.thumbnail-box .btn-next {
  right: 0;
  background: url("../img/_jtjlt.png") no-repeat -79px 0;
}
.thumbnail-box .btn-next:hover {
  background: url("../img/btn-next.png") no-repeat;
}
.thumbnail-box .list {
  overflow: hidden;
  width: 450px;
  text-align: center;
}
.thumbnail-box .wrapper {
  width: 100000px;
}
.thumbnail-box .list .item {
  float: left;
}
.thumbnail-box .list .item img {
  border: 2px solid #fff;
  width: 58px;
  height: 58px;
  background-size: 100% 100%;
  margin-left: 196px;
  cursor: pointer;
}
.thumbnail-box .list .item-cur img {
  border: 2px solid #e53e41;
}
.big-box {
  display: none;
  overflow: hidden;
  position: absolute;
  left: 460px;
  top: 0;
  width: 540px;
  height: 540px;
  border: 1px solid #e4e4e4;
  z-index: 2;
}
.big-box img {
  display: block;
  width: 800px;
  height: 800px;
}
